html,body,section,.swiper-container,.swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html{
    /*rem响应式布局*/
    font-size: 100px;
}
/*--page1--*/
.page1{
    background:url("../images/page1/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.page1 img{
    position: absolute;
    /*让所有图片先隐藏 之后在做动画时出现不会突兀*/
    opacity: 0;
}
/*--实现切换完成后页面中的元素开始运动的思想：开始的时候--*/
.page1 .time{
    width: 0.96rem;
    height:2.32rem;
    left: 40%;
    top:.28rem;
}
#page1 .time{
    -webkit-animation:bounceIn 1.5s ease 0s 1 both;
    animation:bounceIn 1.5s ease 0s 1 both;
}
.page1 .z_bg{
    height: 6rem;
    width: 3.7rem;
    right: 0;
    top: .28rem;
}
#page1 .z_bg{
    -webkit-animation:bounceInRight 1.5s ease 0s 1 both;
    animation:bounceInRight 1.5s ease 0s 1 both;
}
.page1 .baby{
    width:5.5rem;
    height:5.12rem;
    bottom: 1.4rem;;
    left: .5rem;
}
#page1 .baby{
    -webkit-animation: bounceInUp 1.5s linear 0.6s both;
    animation: bounceInUp 1.5s linear 0.6s both;
}
.page1 .xiaoming{
    left: -1.6rem;
    bottom: .6rem;
    width: 7.86rem;
    height: 5.88rem;
}
#page1 .xiaoming{
    -webkit-animation: bounceInUp 1.5s ease 0.9s both;
    animation: bounceInUp 1.5s ease 0.9s both;
}
.page1 .money{
    width: 3.54rem;
    height: 1.21rem;
    bottom: -.3rem;
    left: -.7rem;
}
#page1 .money{
    -webkit-animation: bounceInLeft 1.5s ease 1s both;
    animation: bounceInLeft 1.5s ease 1s both;
}
.page1 .huba{
    width: 1.09rem;
    height: 1.02rem;
    right: .9rem;
    bottom: 2.5rem;
}
.page1 .book{
    left: 0;
    top: 0;
    width: 5.86rem;
    height: 11.88rem;
    opacity: 1;
}
.page1 .entertainment{
    width: 2.5rem;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    opacity: 1;
}
/*--page2--*/
.page2{
    background:url("../images/page2/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.page2 img{
    position: absolute;
    top: 2.5rem;
    width: .61rem;
    height: 6.38rem;
    opacity: 0;
}
/*.page2 img:nth-child(1){*/
    /*width: 9.4rem;*/
    /*height: 11.4rem;*/
    /*top: 0;*/
    /*left: -2.75rem;*/
/*}*/
.page2 .bird{
    width: 3.4rem;
    height: 1.74rem;
    top: .4rem;
    left: -.4rem;
}
#page2 .bird{
    -webkit-animation: updown 2s linear 0.1s infinite alternate;
    animation: updown 2.5s linear 0.1s infinite alternate;
}
@-webkit-keyframes updown {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes updown {
0%{
    opacity: 1;
    transform-origin: 0 center;
    transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
50%{
    opacity: 1;
    transform-origin: 0 center;
    transform: rotateZ(8deg);
    -webkit-transform:  rotateZ(8deg);
}
100%{
    opacity: 1;
    transform-origin: 0 center;
    transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
}
.page2 .poem1{
    left: 4.5rem;
}
#page2 .poem1{
    -webkit-animation: zoomIn 1s linear 0.3s both;
    animation: zoomIn 1s linear 0.3s both;
}
.page2 .poem2{
    left: 3rem;
}
#page2 .poem2{
    -webkit-animation: zoomIn 1s linear 0.6s both;
    animation: zoomIn 1s linear 0.6s both;
}
.page2 .poem3{
    left: 1.48rem;
}
#page2 .poem3{
    -webkit-animation: zoomIn 1s linear 0.9s both;
    animation: zoomIn 1s linear 0.9s both;
}

/*--page3--*/
.page3{
    background:url("../images/page3/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.page3 img{
    position: absolute;
    opacity: 0;
}
#page3 .hotBalloon{
    width: .55rem;
    height: 1.4rem;
    top: 1.5rem;
    left: 52%;
    animation:disappear 3s linear 0.5s;
}
@-webkit-keyframes disappear {
    0%{
        opacity: 1;
        transform: translateX(0px) translateY(-5px);
        -webkit-transform: translateX(0px) translateY(-5px);
    }
    20%{
        opacity: 0.8;
        transform: translateX(20px) translateY(-20px);
        -webkit-transform: translateX(20px) translateY(-20px);
    }
    40%{
        opacity: 0.6;
        transform: translateX(40px) translateY(-40px);
        -webkit-transform: translateX(40px) translateY(-40px);
    }
    60%{
        opacity: 0.4;
        transform: translateX(60px) translateY(-60px);
        -webkit-transform: translateX(60px) translateY(-60px);
    }
    80%{
        opacity: 0.2;
        transform: translateX(80px) translateY(-80px);
        -webkit-transform: translateX(80px) translateY(-80px);
    }
    100%{
        opacity: 0;
        transform: translateX(100px) translateY(-100px);
        -webkit-transform: translateX(100px) translateY(-100px);
    }
}
#page3 .poem1{
    width: .28rem;
    height: 1.95rem;
    top: .2rem;
    right:.1rem;
    animation: poem1 2s linear 0.5s both;
}
@-webkit-keyframes poem1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes poem1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#page3 .poem2{
    width: .32rem;
    height: 1.95rem;
    top: .2rem;
    right:.4rem;
    animation: poem2 2s linear 1.3s both;
}
@-webkit-keyframes poem2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes poem2 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#page3 .poem3{
    width: .28rem;
    height: 2.63rem;
    top: .2rem;
    right:.75rem;
    animation: poem3 2s linear 2.1s both;
}
@-webkit-keyframes poem3{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes poem3 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#page3 .poem4{
    width: .33rem;
    height: 1.68rem;
    top: .2rem;
    right:1.1rem;
    animation: poem4 2s linear 2.9s both;
}
@-webkit-keyframes poem4{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes poem4 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.page3 .jiangshan{
    width:.83rem;
    height: 2.41rem;
    top: 6%;
    left:11%;
    -webkit-animation:blink 0.8s linear 0s infinite alternate;
    animation: blink 0.8s linear 0s infinite alternate;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity: 1;
    }
}

/*--page4--*/
.page4{
    background: url("../images/page4/bg.jpg");
    background-size: cover;
}
.page4 img{
    position: absolute;
    opacity: 0;
}
.page4 .poem1{
    width: .32rem;
    height: 3.46rem;
    left: .8rem;
    top:.7rem;
}
#page4 .poem1{
    animation: zoomIn 1s linear 0.2s both;
}
.page4 .poem2{
    width: .33rem;
    height: 3.8rem;
    left: .4rem;
    top:1.2rem;
}
#page4 .poem2{
    animation: zoomIn 1s linear 0.4s both;
}
.page4 .forbidden1{
     width: .99rem;
     height: 1.07rem;
     left: 1.5rem;
     top: 3rem;
}
#page4 .forbidden1{
    animation: zoomIn 1s linear 0.8s both;
}
.page4 .forbidden2{
    width: .99rem;
    height: 1.02rem;
    left: 2.9rem;
    top: 3.2rem;
}
#page4 .forbidden2{
    animation: bounceIn 1s linear 1.4s both;
}
.page4 .forbidden3{
    width: 1.06rem;
    height:.87rem;
    left: 4.8rem;
    top: 3.1rem;
}
#page4 .forbidden3{
    animation: bounceIn 1s linear 1.2s both;
}






/*animate动画*/
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    100% {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
